<?xml version="1.0" encoding="UTF-8"?>
<!-- 스키마주소 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper namespace는 비우면 에러 -->
  <!-- namespace는 값은 중복 절대X -->
  <!-- 해당 Mapper를 사용할 DAO의 풀 패키지명을 쓴다.(중복방지) -->
  <mapper namespace="com.winter.app.regions.RegionDAO">

  
  <sql id="search3">
  		<!-- TITLE, CONTENTS, WRITER -->
  		WHERE 
  		<choose>
  			<when test="kind1">
		  		TITLE LIKE '%'||#{search}||'%'  			
  			</when>
  			<when test="kind2">
		  		CONTENTS LIKE '%'||#{search}||'%'  			
  			</when>
  			<when test="kind3">
	  			WRITER LIKE '%'||#{search}||'%'  			
  			</when>
  		</choose>
  	</sql>
  
  	<sql id="search2">
  		<!-- TITLE, CONTENTS, WRITER -->
  		<where> 
  		<if test="kind=='kind1' or kind='kind4'">
	  		TITLE LIKE '%'||#{search}||'%'  			
  		</if>)
  		<if test="kind=='kind2' or kind='kind4'">
	  		OR CONTENTS LIKE '%'||#{search}||'%'  		
  		</if>
  		<if test="kind=='kind3' or kind='kind4'">
	  		OR WRITER LIKE '%'||#{search}||'%'	
  		</if>
  		</where>
  	</sql>
  	
  	<sql id="search">
  		WHERE REGION_NAME LIKE '%'||#{search}||'%'
  	</sql>
  	
  
  	<!-- getTotal -->
  	<select id="getTotal" resultType = "java.lang.Long" parameterType="Pager">
  		SELECT COUNT(REGION_ID) FROM REGIONS 
  		<include refid="search"/>
  	</select>

	<!-- Delete -->
	<delete id="delete" parameterType="RegionDTO">
		DELETE REGIONS WHERE REGION_ID = #{region_id}
	</delete>  

  	<!-- Update -->
  	<update id="update" parameterType="RegionDTO">
  		UPDATE REGIONS SET REGION_NAME = #{region_name} WHERE REGION_ID = #{region_id}  
  	</update>
  
  	<!-- AddFile -->
  	<insert id="addFile" parameterType="RegionFileDTO">
  		INSERT INTO REGIONFILES VALUES (RE_FL_SEQ.NEXTVAL, #{region_id}, #{fileName}, #{oriName})
  	</insert>
  
  	<!-- Insert -->
  	<insert id="add" parameterType="RegionDTO">
  		<selectKey keyProperty="region_id" order="BEFORE" resultType="Long">
  			SELECT EMPLOYEES_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO REGIONS VALUES(#{region_id},#{region_name})
  	</insert>
  
  	<!-- detail -->
  	<!-- id는 DAO의 메서드명 -->
  	<select id="getDetail" resultType="RegionDTO" parameterType="RegionDTO">
  		SELECT * FROM REGIONS WHERE REGION_ID=#{region_id}
  	</select>
  	
  	<select id="getList" resultType="RegionDTO" parameterType="Pager">
  		SELECT * FROM 
		(
			SELECT ROWNUM R, RG.* FROM 
				(
					SELECT * FROM REGIONS
					<include refid="search"/>
					ORDER BY REGION_ID DESC
				) RG
		) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  </mapper>